mixin sOurEmployees(data)
	// start sOurEmployees
	+b.SECTION.sOurEmployees.section#sOurEmployees&attributes(attributes)
		.container
			+e.slider.swiper.defaultSwiper-js
				+b.section-title(data-aos="fade-up" data-aos-delay="0")
					.row
						.col
							h2 Наши сотрудники
						.col-auto
							+e.arrow-wrap
								+arrow
				.swiper-wrapper
					mixin slide(i, title, text)
						+e.slide.swiper-slide(data-aos="fade-up" data-aos-delay=`50 * ${i}`)
							+e.img-wrap
								.img-wrap-center
									+img(`img/sOurEmployees-img-${i}.png`, 'bg')
							+e.title!= title
							p!= text
					+slide(1, 'Клюев Сергей', 'Генеральный директор')
					+slide(2, 'Зайева Кристина', 'Никифирова Мария')
					+slide(3, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(4, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(5, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(6, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(7, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(8, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(9, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(10, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(11, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(12, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(13, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(14, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(15, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(16, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(17, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(18, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(19, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(20, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(21, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(22, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(23, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(24, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(25, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(26, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(27, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(28, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(29, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(30, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(31, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(32, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(33, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(34, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(35, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(36, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(37, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(38, 'Менеджер по продажам', 'Инженер-конструктор')
					+slide(39, 'Менеджер по продажам', 'Инженер-конструктор')
	// end sOurEmployees