// start .sOurProjects
.sOurProjects {
	--sPT: #{rem(24)};
	--sPB: #{rem(59)};
	--sTPB: #{rem(12)};
	position: relative;
	@include media-breakpoint-up(md) {
		--sPT: #{rem(28)};
		--sPB: #{rem(25)};
		--sTPB: #{rem(12)};
	}
	&__swiper {
		overflow: visible;
	}
	&__row{
		--bs-gutter-x: 0;
		--bs-gutter-y: 0;
		
		flex-wrap: nowrap;
		@include media-breakpoint-up(md) {
			--bs-gutter-x: #{rem(2)};
			--bs-gutter-y: #{rem(2)};

			transform: none !important;
			flex-wrap: wrap;
		}
	}
	&__col {
		// width: auto;
		@include media-breakpoint-up(md) {
			height: auto;
			// width: 100%;
		}
	}
	.section-title {
		&__row {
			align-items: center;
		}
		h2 {
			line-height: 1.11em;
			margin-bottom: 0;
		}
		&__all-content {
			display: flex;
			align-items: center;
			font-size: rem(12);
			font-weight: 600;
			line-height: 1.33em;
			color: $secondary;
			&:hover {
				color: $primary;
			}
			@include media-breakpoint-down(md) {
				flex-direction: row-reverse;
				position: absolute;
				left: rem(16);
				bottom: rem(16);
			}
		}
		&__icon-wrap {
			flex: 0 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;
			width: rem(27);
			height: rem(27);
			border-radius: 50%;
			background-color: $primary;
			color: #fff;
			margin-right: rem(8);
			@include media-breakpoint-up(md) {
				margin-left: rem(8);
				margin-right: 0;
			}
			.icon {
				fill: none;
				stroke: currentColor;
				stroke-width: rem(2);
				font-size: rem(23);
			}
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sOurProjects