mixin sNews(title)
	// start sNews
	+b.SECTION.sNews.section#sNewsk&attributes(attributes)
		+e.container.container
			+b.section-title(data-aos="fade-up" data-aos-delay="0")
				.row
					.col
						h2!= title
					.col-auto
						+e.arrow-wrap
							+arrow()
			+e.swiper--js.swiper
				.swiper-wrapper
					block
	// end sNews
