// start .sOrder
.sOrder {
	--sPT: #{rem(46)};
	--sPB: #{rem(46)};
	// --sTPB: #{rem()};
	&__wrap-center {
		@include media-breakpoint-up(md) {
			position: absolute;
			display: flex;
			flex-direction: column;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: flex-start;
			padding: 2.3333333333rem 1.6rem 2.2rem;
		}
	}
	&__wrap {
		position: relative;
		background-color: $gray-500;
		padding: rem(35) rem(24) rem(33);
		color: #fff;
		display: flex;
    flex-direction: column;
    align-items: flex-start;
		z-index: 1;
		@include media-breakpoint-up(md) {
			@include block(896,346);
			padding: 0;
		}
		@include media-breakpoint-up(xxl) {
			font-size: calc(14px + 0.3vw + 0.3vh);
		}
		h4 {
			max-width: rem(387);
			margin-bottom: rem(12);
			line-height: 1.23em;
			@include media-breakpoint-up(xxl) {
				max-width: em(387);
				margin-bottom: em(12);
				font-size: em(26);
			}
		}
		p {
			max-width: rem(387);
			font-size: rem(13);
			margin-bottom: rem(51);
			line-height: 1.23em;
			@include media-breakpoint-up(xxl) {
				max-width: em(387);
				font-size: em(13);
				margin-bottom: em(51);
			}
		}
	}
	&__btn {
		display: flex;
		align-items: center;

		--bs-btn-font-weight: 500;
    --bs-btn-padding-x: #{rem(16)};
    --bs-btn-padding-y: #{rem(6)};
		--bs-btn-font-size: #{rem(14)};

		--bs-btn-hover-bg: #fff;
		--bs-btn-active-bg: #fff;
		--bs-btn-hover-border-color: #fff;
		--bs-btn-active-border-color: #fff;
		--bs-btn-hover-color: #{$orange};
		--bs-btn-active-color: #{$orange};
		@include media-breakpoint-up(xl) {
			--bs-btn-font-size: #{rem(14)};
		}
		@include media-breakpoint-up(xxl) {
			--bs-btn-font-size: #{em(14)};
			--bs-btn-padding-x: #{em(16)};
    	--bs-btn-padding-y: #{em(6)};
		}
		.icon {
			flex: 0 0 auto;
			font-size: rem(24);
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
			@include media-breakpoint-up(xxl) {
				font-size: em(24);
			}
		}
	}
	.img-1 {
		position: absolute;
		top: rem(-25);
		right: rem(24);
		width: 100%;
		max-width: rem(362);
		z-index: -1;
		@include media-breakpoint-up(xxl) {
			width: 40%;
			max-width: none;
		}
	}
	.img-2 {
		position: absolute;
		bottom: rem(-26);
		right: rem(251);
		width: 100%;
		max-width: rem(187);
		z-index: -1;
		@include media-breakpoint-up(xxl) {
			width: 26%;
			max-width: none;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sOrder