mixin sOrder(data)
	// start sOrder
	+b.SECTION.sOrder.section#sOrder.d-none.d-md-block&attributes(attributes)
		.container
			+e.wrap(data-aos="fade-up" data-aos-delay="0")
				h4 Закажите индивидуальный проект
				p Мы&nbsp;не&nbsp;ограничиваемся типовыми решениями. Команда опытных дизайнеров и&nbsp;конструкторов поможет разработать индивидуальный дизайн-проект с&nbsp;учетом ваших пожеланий.
				+e.btn.btn.btn-light(href='#' data-src='modal-order-presentation' data-fancybox="modal") 
					| Заказать
					+icon('chevron-right')
				+img('img/sOrder-img-1.jpg').img-1(data-aos="fade-up" data-aos-delay="200")
				+img('img/sOrder-img-2.jpg').img-2(data-aos="fade-up" data-aos-delay="200")
	// end sOrder