mixin sPortfolio(data)
	// start sPortfolio
	+b.SECTION.sPortfolio.section#sPortfolio&attributes(attributes)
		+e.container.container
			+b.section-title
				h1.h4 Портфолио
			+e.row.row
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-1.jpg',
						title: 'Братеевская Пойма'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-2.jpg',
						title: 'Брянск'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-3.jpg',
						title: 'Дендрострой'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-4.jpg',
						title: 'Волгоград'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-5.jpg',
						title: 'Скитские пруды'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-6.jpg',
						title: 'Ноябрьск'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-7.jpg',
						title: 'Тверь сквер'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-8.jpg',
						title: 'Калуга'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-9.jpg',
						title: 'Щелково'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-10.jpg',
						title: 'Темрюк'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-11.jpg',
						title: 'Рязань'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-12.jpg',
						title: 'Дендрострой'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-13.jpg',
						title: 'Красная Яруга'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-14.jpg',
						title: 'Курск'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-15.jpg',
						title: 'Осенний бульвар'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-16.jpg',
						title: 'Ефремов'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-17.jpg',
						title: 'Ливны'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-18.jpg',
						title: 'Казань'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-19.jpg',
						title: 'Ростов'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-20.jpg',
						title: 'Воронеж'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-21.jpg',
						title: 'Елизаровский пруд'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-22.jpg',
						title: 'Тула'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-23.jpg',
						title: 'Лефортово'
					}).card-item--noHover
				+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
					+card({
						img: 'sPortfolio-img-24.jpg',
						title: 'Карповка'
					}).card-item--noHover
			+pugin(data-aos="fade-up" data-aos-delay="0")
	// end sPortfolio