mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock.bg-wrap&attributes(attributes)
		+e.wrap-center
			video(autoplay, loop, muted, playsinline, preload="metadata", uk-video).picture-bg
				source(src="video/headerBlock-video.MP4", type="video/mp4")
			.container
				+b.section-title
					h1 Изготовление конструкций из&nbsp;дерева для парков и&nbsp;скверов
					p Сцены, Перголы, Входные группы, Беседки и&nbsp;Пункты проката
					+e.btn.btn.btn-outline-light(href="#")
						| О компании
						+icon('chevron-right')
	// end headerBlock