mixin sAbout(data)
	// start sAbout
	+b.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.text-row.row
				.col-12
					p История начинается 8&nbsp;лет назад, когда была основана компания по&nbsp;благоустройству частных загородных территорий &laquo;Русская беседка&raquo;. С&nbsp;самого начала количество запросов на&nbsp;строительство общественных пространств постоянно увеличивалось и&nbsp;потому последние 4&nbsp;лет работы в&nbsp;этом направлении подтолкнули выделить работу с&nbsp;продукцией для улиц и&nbsp;парков в&nbsp;отдельный проект&nbsp;&mdash; &laquo;Русский Парк&raquo;.
				.col-12
					p Название компании выбрали неслучайно, ведь так раскрывается специализация работы&nbsp;&mdash; производим как небольшую продукцию для парков и&nbsp;общественных пространств, вроде урн и&nbsp;парковочных столбиков, так и&nbsp;участвуем в&nbsp;строительстве больших заказов &laquo;под ключ&raquo;, задействуя мощности производства на&nbsp;максимальном уровне и&nbsp;осваивая новые технологии.
			+e.swiper.swiper.defaultSwiper-js
				.swiper-wrapper
					mixin slide(i, title, text)
						+e.slide.swiper-slide
							+e.wrap
								+img(`img/svg/sAbout-svg-${i}.svg`)
								+e.title!= title
								+e.text!= text
					+slide(1, 'Специфика деятельности', 'Мы&nbsp;занимаемся производством конструкций и&nbsp;построек из&nbsp;дерева, благоустройством и&nbsp;строительством коммерческих и&nbsp;общественных заданий')
					+slide(2, 'Строим и обустраиваем под ключ', 'Парковые и&nbsp;городские территории, набережные и&nbsp;зоны отдыха, ярмарки и&nbsp;фестивали, торговые и&nbsp;офисные здания, рестораны и&nbsp;кафе, загородные участки')
					+slide(3, 'Профессионалы своего дела', 'Качественные и&nbsp;комплексные услуги реализует высокопрофессиональный штат специалистов, способный решать задачи любой сложности.')
	// end sAbout

	//- sAbout-svg-1.svg