extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sContent/_sContent.pug
include ../blocks/footer/_footer.pug

include ../blocks/sProdCardInfo/_sProdCardInfo.pug
include ../blocks/sSimilarProducts/_sSimilarProducts.pug

block variables
	- let  mainPage= 'about-page' 
	- let  bg= null

block title
	- let  title= 'Карточка товара'
	title= title
block pagecontent
	//- +mob-mnu()
	
	.aside-wrap
		aside
			+asideContent()
	.main-center-wrap
		+header()
			+topLine
			+top-nav()
		main
			+page-head('Качели для парка', 'Парковые качели «Пагода_2»')
			+sProdCardInfo()
			+sSimilarProducts
		+footer() 



