extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/sContent/_sContent.pug
include ../blocks/footer/_footer.pug

include ../blocks/s404/_s404.pug

block variables
	- let  mainPage= 'error-page' 
	- let  bg= null

block title
	- let  title= 'Контакты'
	title= title
block pagecontent
	//- +mob-mnu()
	
	+s404



