extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
//- include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/footer/_footer.pug

include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sOurProjects/_sOurProjects.pug
include ../blocks/sOwnProduction/_sOwnProduction.pug
include ../blocks/sOrder/_sOrder.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sOurPartners/_sOurPartners.pug
include ../blocks/sCatalogBlock/_sCatalogBlock.pug
include ../blocks/sMap/_sMap.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	
	.aside-wrap
		aside
			+asideContent()
	.main-center-wrap
		+header()
			+topLine
			+top-nav()
		main
			+headerBlock 
			+sAdvantages
			+sOurProjects
			+sOwnProduction
			+sCatalogBlock
			+sOrder
			+sMap
			+sOurPartners.d-none.d-md-block
			+sNews('Новости').d-none.d-md-block
				+e.slide.swiper-slide(data-aos="fade-up" data-aos-delay="50")
					+card({
						img: 'sNews-img-1.jpg',
						title: 'Строительство &laquo;под ключ&raquo; открытого летнего кафе-веранды в&nbsp;г. Москва, ЦАО, ул. Балчуг, д.1.',
						text: 'Не&nbsp;все постройки отличает ажурность и&nbsp;миниатюрность&nbsp;&mdash; эту входную группу можно..'
					})
				+e.slide.swiper-slide(data-aos="fade-up" data-aos-delay="100")
					+card({
						img: 'sNews-img-2.jpg',
						title: 'Поставка сцены, ярмарочных домиков, пергол и&nbsp;МАФов в&nbsp;г.Тутаев',
						text: 'Не&nbsp;все постройки отличает ажурность и&nbsp;миниатюрность&nbsp;&mdash; эту входную группу можно...'
					})
				+e.slide.swiper-slide(data-aos="fade-up" data-aos-delay="150")
					+card({
						img: 'sNews-img-3.jpg',
						title: 'Благоустройство центрального парка&nbsp;им. П.&nbsp;П.&nbsp;Белоусова',
						text: 'Не&nbsp;все постройки отличает ажурность и&nbsp;миниатюрность&nbsp;&mdash; эту входную группу можно...'
					})
				+e.slide.swiper-slide(data-aos="fade-up" data-aos-delay="50")
					+card({
						img: 'sNews-img-1.jpg',
						title: 'Строительство &laquo;под ключ&raquo; открытого летнего кафе-веранды в&nbsp;г. Москва, ЦАО, ул. Балчуг, д.1.',
						text: 'Не&nbsp;все постройки отличает ажурность и&nbsp;миниатюрность&nbsp;&mdash; эту входную группу можно..'
					})
				+e.slide.swiper-slide(data-aos="fade-up" data-aos-delay="100")
					+card({
						img: 'sNews-img-2.jpg',
						title: 'Поставка сцены, ярмарочных домиков, пергол и&nbsp;МАФов в&nbsp;г.Тутаев',
						text: 'Не&nbsp;все постройки отличает ажурность и&nbsp;миниатюрность&nbsp;&mdash; эту входную группу можно...'
					})
				+e.slide.swiper-slide(data-aos="fade-up" data-aos-delay="150")
					+card({
						img: 'sNews-img-3.jpg',
						title: 'Благоустройство центрального парка&nbsp;им. П.&nbsp;П.&nbsp;Белоусова',
						text: 'Не&nbsp;все постройки отличает ажурность и&nbsp;миниатюрность&nbsp;&mdash; эту входную группу можно...'
					})
		+footer()
		+successful
		+cookies



