mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		+b.section-title(data-aos="fade-up" data-aos-delay="0")
			.container
				h1.h4 Качели для парка
				.toggle-text-js
					p В&nbsp;компании &laquo;Русский парк&raquo; вы&nbsp;можете заказать качели для загородного дома и&nbsp;для парка из
					+e.show-more.showMoreText-js любых материалов, а&nbsp;так&nbsp;же сотни других товаров для благоустройства своего участка. Благодаря собственному производству качелей из&nbsp;дерева мы&nbsp;можем предоставить товары и&nbsp;услуги отличного качества по&nbsp;рыночным ценам.
					+e.show-more-btn(href='#') 
						span.show Раскрыть
						span.hide Скрыть
						+icon('chevron-down')
		+e.container.container
			+e.wrap(data-aos="fade-up" data-aos-delay="0")
				+e.row.row
					-for(let i = 0; i < 7; i++)
						.col-6.col-md-3(data-aos="fade-up" data-aos-delay="0")
							+product-item(1, 'Парковые качели &laquo;Пастораль&raquo;', '102 990 ₽')
						.col-6.col-md-3(data-aos="fade-up" data-aos-delay="0")
							+product-item(1, 'Парковые качели &laquo;Пастораль&raquo;', '102 990 ₽')
						.col-6.col-md-3(data-aos="fade-up" data-aos-delay="0")
							+product-item(1, 'Парковые качели &laquo;Пастораль&raquo;', '102 990 ₽')
						.col-6.col-md-3(data-aos="fade-up" data-aos-delay="0")
							+product-item(1, 'Парковые качели &laquo;Пастораль&raquo;', '102 990 ₽')
			+pugin()(data-aos="fade-up" data-aos-delay="0")
	// end sCatalog