mixin sSimilarProducts(data)
	// start sSimilarProducts
	+b.SECTION.sSimilarProducts.section#sSimilarProducts&attributes(attributes)
		+e.container.container
			+e.swiper.swiper.defaultSwiper-js
				+b.section-title(data-aos="fade-up" data-aos-delay="0")
					.row
						.col
							h4 Похожие товары
						.col-auto
							+e.arrow-wrap
								+arrow
				.swiper-wrapper
					+e.slide.swiper-slide(data-aos="fade-up" data-aos-delay="0")
						+product-item(2, 'Парковые качели &laquo;Пастораль&raquo;', '102 990 ₽')
					+e.slide.swiper-slide(data-aos="fade-up" data-aos-delay="0")
						+product-item(2, 'Парковые качели &laquo;Пастораль&raquo;', '102 990 ₽')
					+e.slide.swiper-slide(data-aos="fade-up" data-aos-delay="0")
						+product-item(2, 'Парковые качели &laquo;Пастораль&raquo;', '102 990 ₽')
					+e.slide.swiper-slide(data-aos="fade-up" data-aos-delay="0")
						+product-item(2, 'Парковые качели &laquo;Пастораль&raquo;', '102 990 ₽')
					+e.slide.swiper-slide(data-aos="fade-up" data-aos-delay="0")
						+product-item(2, 'Парковые качели &laquo;Пастораль&raquo;', '102 990 ₽')
					+e.slide.swiper-slide(data-aos="fade-up" data-aos-delay="0")
						+product-item(2, 'Парковые качели &laquo;Пастораль&raquo;', '102 990 ₽')
					+e.slide.swiper-slide(data-aos="fade-up" data-aos-delay="0")
						+product-item(2, 'Парковые качели &laquo;Пастораль&raquo;', '102 990 ₽')
					+e.slide.swiper-slide(data-aos="fade-up" data-aos-delay="0")
						+product-item(2, 'Парковые качели &laquo;Пастораль&raquo;', '102 990 ₽')

	// end sSimilarProducts