mixin sProdCardInfo(data)
	// start sProdCardInfo
	+b.SECTION.sProdCardInfo.section#sProdCardInfo&attributes(attributes)
		mixin item(title, ...items)
			+e.item(data-aos="fade-up" data-aos-delay="0")
				+e.container.container
					h6!= title
					ul
						if(items.length > 0)
							each item in items
								li!= item
						else
							block
		+item('Материал', 'Материал каркаса&nbsp;&mdash; дерево', 'Материал обшивки&nbsp;&mdash; хвойные породы древесины (ель, сосна)', 'Возможна замена материала на&nbsp;лиственницу, термодревесину, композит')
		+item('Покраска', 'Покраска металла воздушным распылением или порошковой краской (включена в&nbsp;стоимость)', 'Отдельно оплачивается: Покраска дерева Тонировочным составом с&nbsp;антисептиком + Лак')
		+item('Фундамент')
			li Возможные типы фундаментных оснований
				ul
					li Установка на&nbsp;готовое основание&nbsp;&mdash; крепление анкерами к&nbsp;монолитной плите
					li Буронабивной или бурозаливной фундамент
					li Свайный&nbsp;&mdash; Винтовые сваи 89&times;2500 или 108&times;2500
					li Монолитная плита&nbsp;&mdash; монолитная бетонная плита
		+item('Палитры', 'Палитра покраски дерева Тонировочным составом с&nbsp;антисептиком + Лак', 'Палитра покраски металла&nbsp;&mdash; Порошковые краски Ibakimya', 'Палитра покраски металла&nbsp;&mdash; Воздушным распылением Mav')
		+item('Гарантия', 'Срок службы: 15 лет', 'Гарантия: 12 месяцев', 'Срок претензионного обслуживания&nbsp;&mdash; 1&nbsp;год')
		+item('Страна изготовитель', 'Россия, &laquo;Русский Парк&raquo;')
	// end sProdCardInfo