mixin sNewsBlock(data)
	// start sNewsBlock
	+b.SECTION.sNewsBlock.section#sNewsBlock&attributes(attributes)
		+e.container.container.tabs
			+b.section-title(data-aos="fade-up" data-aos-delay="0")
				.row
					.col-md
						h1.h4 Новости
					.col-md-auto
						.tabs__caption
							.tabs__btn.btn.btn-light.active Новости компании
							.tabs__btn.btn.btn-light СМИ
			.tabs__content.active
				+e.row.row
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-1.jpg',
							title: 'Обустройство входной группы сквера в г. Ливны, Орловская область'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-2.jpg',
							title: 'Поставка беседок вдоль автомобильной дороги М-2 Крым'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-3.jpg',
							title: 'Благоустройство центрального парка&nbsp;им. П.&nbsp;П.&nbsp;Белоусова'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-4.jpg',
							title: 'Благоустройство центрального парка им. П. П. Белоусова'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-5.jpg',
							title: 'Благоустройство университетских территорий в городе Красноярске'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-6.jpg',
							title: 'Поставка сцены, ярмарочных домиков, пергол и МАФов в г.Тутаев'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-2.jpg',
							title: 'Муниципальное учреждение культуры «Опочининская межпоселенческая библиотека Мышкинского муниципального района» Ярославская область, г. Мышкин, ул. Никольская 18'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-7.jpg',
							title: 'Доставка и установка ярмарочных домиков в городе Тула'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-8.jpg',
							title: 'Благоустройство территории памятника природы в Битцевском лесу'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-9.jpg',
							title: 'В Ноябрьске открылся крупнейший парк Ямала'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-10.jpg',
							title: 'Благоустройство набережной реки Кама в республике Татарстан'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-5.jpg',
							title: 'Г. Москва, ул. Удальцова 85 А. Товарищество собственников жилья «ВЕСТ-САЙД», Проектирование, Доставка и установка/монтаж изделия'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-11.jpg',
							title: 'Г. Москва, ул. Удальцова 85 А. Товарищество собственников жилья «ВЕСТ-САЙД», Проектирование, Доставка и установка/монтаж изделия'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-12.jpg',
							title: 'Благоустройство придомовой территории, жилой застройки «ЭкоВидное 2», по адресу: Московская область, Ленинский муниципальный район, поселок Горки Ленинские.'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-13.jpg',
							title: 'Установка арт-объекта возле Центра образования №4 в г. Тула'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-14.jpg',
							title: 'Благоустройство православного храма в Москве, Чистый переулок, 8'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-15.jpg',
							title: 'Благоустройство православного храма в Москве, Чистый переулок, 8'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-16.jpg',
							title: 'Реконструкция территории Ноябрьского городского парка идет согласно графику'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-17.jpg',
							title: 'Поставка кашпо из лиственницы в кол-ве 76 штук для государственного бюджетного учреждения культуры города Москвы «Музей- усадьба «Кусково»»'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-18.jpg',
							title: 'Г. Москва, район Котловка, пр-д Векшинского. Заказчик: Жилищник района Котловка Установка пергол трех типов'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-19.jpg',
							title: 'Установка арт-объекта – скамья в виде рыбы в г. Санкт-Петербург, набережная реки Карповка.'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-20.jpg',
							title: 'Г. Москва, район Котловка, пр-д Векшинского. Заказчик: Жилищник района Котловка Установка пергол трех типов'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-21.jpg',
							title: 'Благоустройство сквера Смородина в Тульской области, поселок Одоев'
						}).card-item--noHover
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-22.jpg',
							title: 'Заказчик: Ассоциация «Совет муниципальных образований Воронежской области» Воронежская область, Панинский район, с. Сергеевка, ул. Заречная, 38. ВХОДНАЯ ГРУППА — 1шт СЦЕНА 4х6 м — 1шт Свайно – винтовой фундамент на два строения'
						}).card-item--noHover
			.tabs__content
				+e.row.row
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-17.jpg',
							title: 'Установка арт-объекта – скамья в виде рыбы в г. Санкт-Петербург, набережная реки Карповка. ',
							read: true,
							name: {
								class: 'text-secondary',
								text: 'Вечерняя Москва'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-23.jpg',
							title: 'В Ноябрьске открылся крупнейший парк Ямала',
							read: true,
							name: {
								text: 'РИАМО'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-24.jpg',
							title: 'Благоустройство придомовой территории, жилой застройки «ЭкоВидное 2», по адресу: Московская область, Ленинский муниципальный район, поселок Горки Ленинские.',
							read: true,
							name: {
								text: 'Московский дневник'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-25.jpg',
							title: 'Установка арт-объекта – скамья в виде рыбы в г. Санкт-Петербург, набережная реки Карповка.',
							read: true,
							name: {
								text: 'Москва 24'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-26.jpg',
							title: 'Благоустройство сквера в г. Москве, ул. Бестужевых-Пестеля-Декабристов, оформление: скамья уличная Консоль -4, Пергола ПА 4 (6270х4350х3390), скамейки к перголам -76',
							read: true,
							name: {
								text: 'РИАМО'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-27.jpg',
							title: 'Реконструкция главного городского парка Ноябрьска продолжится в 2019 году.',
							read: true,
							name: {
								text: 'Московский дневник'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-23.jpg',
							title: 'В Ноябрьске открылся крупнейший парк Ямала',
							read: true,
							name: {
								text: 'РИАМО'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-24.jpg',
							title: 'Благоустройство придомовой территории, жилой застройки «ЭкоВидное 2», по адресу: Московская область, Ленинский муниципальный район, поселок Горки Ленинские.',
							read: true,
							name: {
								text: 'Московский дневник'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-28.jpg',
							title: 'Установка арт-объекта – скамья в виде рыбы в г. Санкт-Петербург, набережная реки Карповка.',
							read: true,
							name: {
								class: 'text-secondary', 
								text: 'Вечерняя Москва'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-26.jpg',
							title: 'Благоустройство сквера в г. Москве, ул. Бестужевых-Пестеля-Декабристов, оформление: скамья уличная Консоль -4, Пергола ПА 4 (6270х4350х3390), скамейки к перголам -76',
							read: true,
							name: {
								text: 'РИАМО'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-27.jpg',
							title: 'Реконструкция главного городского парка Ноябрьска продолжится в 2019 году.',
							read: true,
							name: {
								text: 'Московский дневник'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-25.jpg',
							title: 'Установка арт-объекта – скамья в виде рыбы в г. Санкт-Петербург, набережная реки Карповка.',
							read: true,
							name: {
								text: 'Вечерняя Москва'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-28.jpg',
							title: 'Установка арт-объекта – скамья в виде рыбы в г. Санкт-Петербург, набережная реки Карповка.',
							read: true,
							name: {
								class: 'text-secondary',
								text: 'Москва 24'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-23.jpg',
							title: 'В Ноябрьске открылся крупнейший парк Ямала',
							read: true,
							name: {
								text: 'РИАМО'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-24.jpg',
							title: 'Благоустройство придомовой территории, жилой застройки «ЭкоВидное 2», по адресу: Московская область, Ленинский муниципальный район, поселок Горки Ленинские.',
							read: true,
							name: {
								text: 'Московский дневник'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-25.jpg',
							title: 'Установка арт-объекта – скамья в виде рыбы в г. Санкт-Петербург, набережная реки Карповка.',
							read: true,
							name: {
								text: 'Москва 24'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-26.jpg',
							title: 'Благоустройство сквера в г. Москве, ул. Бестужевых-Пестеля-Декабристов, оформление: скамья уличная Консоль -4, Пергола ПА 4 (6270х4350х3390), скамейки к перголам -76',
							read: true,
							name: {
								text: 'РИАМО'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-27.jpg',
							title: 'Реконструкция главного городского парка Ноябрьска продолжится в 2019 году.',
							read: true,
							name: {
								text: 'Вечерняя Москва'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-23.jpg',
							title: 'В Ноябрьске открылся крупнейший парк Ямала',
							read: true,
							name: {
								text: 'РИАМО'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-24.jpg',
							title: 'Благоустройство придомовой территории, жилой застройки «ЭкоВидное 2», по адресу: Московская область, Ленинский муниципальный район, поселок Горки Ленинские.',
							read: true,
							name: {
								text: 'Московский дневник'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-28.jpg',
							title: 'Установка арт-объекта – скамья в виде рыбы в г. Санкт-Петербург, набережная реки Карповка.',
							read: true,
							name: {
								class: 'text-secondary',
								text: 'Вечерняя Москва'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-26.jpg',
							title: 'Благоустройство сквера в г. Москве, ул. Бестужевых-Пестеля-Декабристов, оформление: скамья уличная Консоль -4, Пергола ПА 4 (6270х4350х3390), скамейки к перголам -76',
							read: true,
							name: {
								text: 'РИАМО'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-27.jpg',
							title: 'Реконструкция главного городского парка Ноябрьска продолжится в 2019 году.',
							read: true,
							name: {
								text: 'Московский дневник'
							}
						}).card-item--noHover.card-item--media
					+e.col.col-6.col-md-4(data-aos="fade-up" data-aos-delay="0")
						+card({
							img: 'sNewsBlock-img-25.jpg',
							title: 'Установка арт-объекта – скамья в виде рыбы в г. Санкт-Петербург, набережная реки Карповка.',
							read: true,
							name: {
								text: 'Москва 24'
							}
						}).card-item--noHover.card-item--media
			+pugin(data-aos="fade-up" data-aos-delay="0")
	// end sNewsBlock